<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<!-- loading django's balise called static -->
{% load static %}

<html>
<head>
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
</head>
<body>
    <nav>
        <a href="{% url 'band-list' %}">Groupes</a>
        <a href="{% url 'listings-list' %}">Listings</a>
        <a href="{% url 'about' %}">About us</a>
        <a href="{% url 'contact' %}">Contact us</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>